.row{
  
  height: 200px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px lightgray;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20vh auto;
}
.row button{
    padding: 20px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: none;
    outline: none;
}
.row span{ 
    font-size: 3rem;
    margin: 0px 20px;
}